/* Reset body padding and margins */
body {
background-color:black;
font-family: georgia,sans-serif;
color:#333;
margin:0;
padding:0;
}

/* Make Header Sticky */

#header_container {
background:#eee;
border:1px solid #666;
height:60px;
left:0;
position:fixed;
width:100%;
top:0;
}

#header{
line-height:60px;
margin:0 auto;
width:940px;
text-align:center;
font-size:250%;
}

/* CSS for the content of page. I am giving top and bottom padding of 80px to make sure the header and footer do not overlap the content.*/
#container {
margin:0 auto;
overflow:auto;
padding:80px 0;
width:940px; }

table, td, th{
color:white;
margin:0 auto;
font-size:150%;
}

#band_details{
margin:400px 120px 120px 120px;
color:white;
display:block;
}

#upcoming {
height: 75%;
width: 100%;
font-size: 125%;
padding: 0.1em;
background-color:black;
color:white;
}

#upcomingsmall {
height: 25%;
width: 100%;
font-size: 125%;
padding: 0.1em;
background-color:black;
color:white;
}

#comms {
height: 25%;
width: 100%;
font-size: 125%;
padding: 0.1em;
background-color:black;
color:white;
text-align:center;
display:block;
bottom:0%;
}



#comms p{
margin:0;
padding:0;
}

#comms a{
color:white;
text-decoration:none;
}

#commslarge {
height: 70%;
width: 100%;
font-size: 125%;
padding: 0.1em;
background-color:black;
color:white;
text-align:center;
display:block;
/*bottom:0%;*/
top:52%;
}

#commslarge p{
color:white;
margin:0;
padding:0;
}

#commslarge a{
color:white;
text-decoration:none;
}

#loctable td{
border:1px solid white;
padding:0em 1em;
}

.blue td{
color:blue;
}

.green td{
color:green;
}

.yellow td{
color:yellow;
}

.orange td{
color:orange;
}

.white td{
color:white;
}


.mobilebutton {
height:20%;
width:100%;
font-size: 200%;
}

#button_row{
margin: 5px 0px 0px;
float:left;
width:100%;
}

#button_row img{
width:33%;
}

#messageconfirm {
font-size: 200%;
padding: 0.1em;
background-color:black;
color:white;
text-align:center;
}

.bandname {
font-size:200%;
padding:0px;
margin:0px;
white-space:nowrap;
overflow:hidden;  !important
}


.band {
position:fixed;
height: 24%;
width: 49%;
text-align:center;
border-style:solid;
display:block;
}

.band1 {
left:0%;
top:0%;
color:blue;
border-color:blue;
}

.band2 {
left:50%;
top:0%;
color:green;
border-color:green;
}

.band3 {
left:0%;
top:25%;
color:yellow;
border-color:yellow;
}

.band4 {
left:50%;
top:25%;
color:orange;
border-color:orange;
}

.band5 {
left:0%;
top:50%;
color:red;
border-color:red;
}

.band6 {
left:50%;
top:50%;
color:purple;
border-color:purple;
}

.short_descrip {
color:white;
table-layout:fixed;
width:100%;
}

.friends {
text-align:center;
font-size:150%;
}

.friends1 {
color:red !important;

}

.friends2 {
color:orange !important;

}

.friends3 {
color:yellow !important;

}

.friends4 {
color:green !important;

}

.friends5 {
color:blue !important;

}


.friends dt, dd{
text-decoration:none;
color:white;
text-align:center;
font-size:180%;
display:inherit;
margin: 0;
padding:0px;
margin:0px;
white-space:normal;
/*overflow:hidden; !important*/
}

.loginlink {
color:white;
font-size:400%;
}

/* Make Footer Sticky */
#footer_container {
background:#eee;
border:1px solid #666;
bottom:0;
height:60px;
left:0;
position:fixed;
width:100%;
}

#footer {
line-height:60px;
width:100%;
}

.stage {
width:33%;
display: inline-block;
}

.time {
width:33%;
display: inline-block;
}

.score {
width:33%;
display: inline-block;
}

#band_details dd  {
font-size:300%;
}

#band_details dd:after {
content: '\A';
white-space: pre;
}



